#nome{
    margin:0;
    font-family: Oswald SemiBold;
}

#localdata{
    font-family: Oswald light;
}
#local{
    font-family: oswald;
}
#divide{
    font-family: Oswald Extralight;
}
h4{
    font-family: oswald;
}
body{
    background-image: url('');
}