.navbar-default {
    position: absolute;
    color:black;
}
#logo{
 width:7vw;
 margin:2vh 0 0 3vw;
}
a.nav-link{
    margin-left: 6vw;
    color: black;
    font-family:Oswald;
    font-size: 1.5vw;
}